# Ignore node_modules directory
node_modules/

# Ignore log files and build artifacts
*.log
build/
dist/

# Ignore environment configuration files
.env
.env.local
.env.*.local

# Ignore package-lock.json (useful when using npm)
package-lock.json

# Ignore Visual Studio Code settings
.vscode/

# Ignore IntelliJ IDEA settings
.idea/

# Ignore macOS system files
.DS_Store
